.Text {
    color: var(--color-text-1);
    padding: 1rem;
    font-size: 1.1rem;
}


.IconHolder {
    width: 2rem;
    display: inline-block;
    height: 1rem;
    position: relative;
}

.Icon {
    height: 2rem;
    width: 2rem;
    position: absolute;
    top: -40%;
    left: 0;
    fill: var(--color-text-1);
}