.Time {
    margin-top: 40px;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 80%;   
}

.Time input {
    width: 40%;
    margin: 30px 10px;
    border: none;
    font-size: 90%;
    height: 35px;
    padding: 0 10px;
    outline-color: #fa7d09;
}

.Time label {
    margin: 30px 0;
    font-size: 150%;
    color: #fa7d09;
}

@media (max-width: 768px) {
    .Time {
        margin-top: 0;

    }
    .Time input {
        width: 80%;
        height: 40px;
        margin: 15px 10px;
    }
}